div.navbar.navbar-fixed-top
  div.navbar-inner
    a.brand(href="#") OpenERP Chat
    ul.nav
      li.active
        a(href="#") Lobby
      li
        a(href="#") Play

    ul.nav.pull-right
      li.dropdown
        a.dropdown-toggle(href="#user-dropdown", data-toggle="dropdown")
          span.user-box Username
          b.caret
        ul.dropdown-menu
          li
            a(href="#name-change", data-toggle="modal", data-target="#change-name") Change name
          li
            a(href="#", data-toggle="modal") Log out

div.content
  div.chatapp
  ul.chat-windows

div.modal.hide#change-name
  div.modal-header
    button.close(data-dismiss="modal") ×
    h3 Change your name
  div.modal-body
    input(autofocus="autofocus", placeholder="What's your new name?")
  div.modal-footer
    button.btn.btn-primary.save(data-dismiss="modal") Save
    button.btn(data-dismiss="modal") Cancel
  
script(type="text/template", id="chat-user")
  | <img src="/img/avatar/<%= username %>.jpeg" class="avatar" />
  div.name <%= name %>
  | <% if(online) { %> <img src="/img/green.png" class="online-status" /> <% } %>

script(type="text/template", id="user-list")
  header
    span.oe_e.search-icon &ocirc;
    input.searchbox(placeholder="Search users...") 
    span.oe_e.searchclear [
  ul

script(type="text/template", id="chat-menu")
  a(href="#") <%= usercount %>
    span.oe_e +

script(type="text/template", id="chat-message")
  | <img src="/img/avatar/<% print(app.getUsername(from)) %>.jpeg" class="avatar" /><%= msg %>

script(type="text/template", id="chat")
  div.chatview
    header
      <%= title %>
      button.close ×
    div.messages
      ul
    footer
      form
        input.prompt(placeholder="Say something...")

