radius(radius)
  -moz-border-radius: radius
  -webkit-border-radius: radius
  border-radius: radius

vertical-gradient(startColor, endColor)
  background: endColor
  background: -moz-linear-gradient(startColor, endColor)
  background: -webkit-gradient(linear, left top, left bottom, from(startColor), to(endColor))

box-shadow()
  -moz-box-shadow: arguments
  -webkit-box-shadow: arguments
  box-shadow: arguments

opacity(opacity)
  //filter: alpha(opacity=opacity * 100)
  -khtml-opacity: opacity
  -moz-opacity: opacity
  opacity: opacity

ellipsis()
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

@font-face
  font-family: 'EntypoRegular'
  src: url('../font/entypo-webfont.eot') format('eot')
  src: url('../font/entypo-webfont.eot?#iefix') format('embedded-opentype')
  src: url('../font/entypo-webfont.woff') format('woff')
  src: url('../font/entypo-webfont.ttf') format('truetype')
  src: url('../font/entypo-webfont.svg') format('svg') active
  font-weight: normal
  font-style: normal

.oe_e
  font-family: "entypoRegular" !important
  font-size: 36px
  font-weight: 300 !important

.close
  font-size: 18px
  line-height: 18px

.navbar
  .brand
    margin-left: 0
    padding: 8px 16px 8px
  .nav
    li
      a
        padding: 8px 12px
      &:hover
        color: #555555
        text-decoration: none
        background-color: #e5e5e5
        box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.125))
    .oe_e
      line-height: 4px
      margin-left: 3px
      position: relative
      top: 4px

.navbar-inner
  min-height: 36px

// Colours
border-color= #AEB9BD
background-color = #E8EBEF

* 
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  padding-top: 36px
  background: url('../img/wood.png')
  color: #666
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5)

ul, ol
  padding: 0
  margin: 0

li
  list-style-type: none

form
  margin: 0

input, textarea
  font-family: Lato, Helvetica, sans-serif
  color: #333
  padding: 2px 5px
  border: 1px solid #AEB9BD
  radius(3px)
  box-shadow(inset 0 1px 4px rgba(0, 0, 0, 0.2))

.avatar
  height: 28px
  width: 28px
  radius(3px)
  box-shadow(0 1px 3px rgba(0,0,0,.4))
  margin-right: 6px

.chatapp
  width: 220px
  position: fixed
  top: 37px
  bottom: 0
  //right: -220px
  right: 0
  background: background-color
  border-left: 1px solid border-color
  vertical-align: top
  .users
    overflow: auto
    li
      padding: 3px 6px
      cursor: pointer
      font-size: 13px
      &:hover
        background: lightGrey
      .name
        display: inline-block
        width: 156px
        ellipsis()
  header
    vertical-gradient(#fcfcfc, #dedede)
    border-bottom: 1px solid border-color
    margin-bottom: 2px
    padding: 5px
    .searchbox
      width: 100%
      padding: 1px 21px 1px 19px
      font-size: 13px
      radius 13px
    .search-icon
      position: absolute
      color: #888
      top: 4px
      left: 9px
      font-size: 28px
      font-family: "entypoRegular" !important
      font-weight: 300 !important
    .searchclear
      display: none
      position: absolute
      right: 11px
      top: 5px
      font-size: 26px
      color: #b6b6b6
      cursor: pointer
      &:hover
        color: #888
  .online-status
    width: 12px
    height: 12px
    float: right
    margin-top: 7px

.chat-windows
  position: absolute
  bottom: 6px
  right: 220px

.pane
  margin-right: 6px
  background: rgba(0, 0, 0, .6)
  radius(3px)
  box-shadow 0 0 3px rgba(0,0,0,.3), 0 2px 4px rgba(0,0,0,.3)

.chat-window
  width: 280px
  //display: inline-block
  float: right
  .chatview
    position: relative
    height: 400px
    .messages
      overflow: auto
      height: 335px
      ul
        padding: 3px
    .msg
      background: white
      padding: 4px
      margin: 4px
      radius(3px)
    header
      padding: 4px 8px 
      vertical-gradient(#fcfcfc, #dedede)
      radius(3px 3px 0 0)
      border-bottom: 1px solid border-color
    footer
      position: absolute
      bottom: 0
      left: 0
      right: 0
      padding: 5px
      border-top: 1px solid border-color
      vertical-gradient(#fcfcfc, #dedede)
      radius(0 0 3px 3px)
    .prompt
      width: 100%
