radius(radius)
  -moz-border-radius: radius
  -webkit-border-radius: radius
  border-radius: radius

vertical-gradient(startColor, endColor)
  background: endColor
  background: -moz-linear-gradient(startColor, endColor)
  background: -webkit-gradient(linear, left top, left bottom, from(startColor), to(endColor))

box-shadow()
  -moz-box-shadow: arguments
  -webkit-box-shadow: arguments
  box-shadow: arguments

transition()
  -webkit-transition: arguments
  -moz-transition: arguments
  -o-transition: arguments
  transition: arguments

background-size()
  -webkit-background-size: arguments
  -moz-background-size: arguments
  -o-background-size: arguments
  background-size: arguments

ellipsis()
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

@font-face
  font-family: 'EntypoRegular'
  src: url('../font/entypo-webfont.eot') format('eot')
  src: url('../font/entypo-webfont.eot?#iefix') format('embedded-opentype')
  src: url('../font/entypo-webfont.woff') format('woff')
  src: url('../font/entypo-webfont.ttf') format('truetype')
  src: url('../font/entypo-webfont.svg') format('svg') active
  font-weight: normal
  font-style: normal

.clear
  clear: both

* html .clearfix
  height: 1%
  overflow: visible

*+html .clearfix
  min-height: 1%

.clearfix:after
  clear: both
  content: "."
  display: block
  height: 0
  visibility: hidden
  font-size: 0

.oe_e
  font-family: "entypoRegular" !important
  font-size: 36px
  font-weight: 300 !important

.close
  font-size: 18px
  line-height: 16px

.navbar
  .brand
    margin-left: 0
    padding: 8px 16px 8px
  .nav
    font-size: 14px
    li
      a
        padding: 8px 12px
      &:hover
        color: #555555
        text-decoration: none
        background-color: #e5e5e5
        box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.125))
    .oe_e
      line-height: 4px
      margin-left: 3px
      position: relative
      top: 4px
    .user-box
      float: left
    .clip
      top: -3px


.navbar-inner
  min-height: 36px

// Colours
border-color = #AEB9BD
background-color = #E8EBEF
faded-text = #999

* 
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  padding-top: 36px
  background: url('../img/wood.png')
  color: #666
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5)
  font-size: 13px
  overflow: hidden

ul, ol
  padding: 0
  margin: 0

li
  list-style-type: none

form
  margin: 0

input, textarea
  font-family: Lato, Helvetica, sans-serif
  font-size: 13px
  color: #333
  padding: 1px 5px
  border: 1px solid #AEB9BD
  radius(3px)
  box-shadow(inset 0 1px 4px rgba(0, 0, 0, 0.2))

.clip
  position: relative
  float: left
  width: 26px
  height: 26px
  margin-right: 4px
  box-shadow(0 0 2px 1px rgba(0,0,0,.25))
  .avatar
    position: absolute
    width: 26px
    height: auto
    clip: rect(0, 26px, 26px, 0)
  .avatar-wide
    height: 26px
    width: auto
    clip: rect(0px, 26px, 26px, 0)

.login
  display: none
  position: absolute
  top: 50%
  left: 50%
  margin: -90px -110px
  width: 220px
  height: 160px
  text-align: center
  input
    width: 100%
    margin: 8px 0
    radius(3px)
    padding: 4px 6px
    height: 32px
    font-size: 14px !important
    box-shadow(0 1px 3px rgba(0,0,0, 0.4))
  input[type="text"], input[type="password"]
    border: none
    float: left
    color: white
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
    background: rgba(0, 0, 0, 0.3)
    margin-bottom: 0
    padding: 5px 5px 5px 10px
    box-shadow inset 0 0 0 1px rgba(0,0,0,0.2), 0 1px 1px rgba(255,255,255,0.3)

.login
  input::-webkit-input-placeholder
    color: #fff
  input:-moz-placeholder
    color: #fff
  input:-ms-input-placeholder
    color: #fff

.container
  display: none

.chatapp
  width: 220px
  position: fixed
  top: 37px
  bottom: 0
  right: 0
  background: background-color
  border-left: 1px solid border-color
  vertical-align: top
  .users
    margin-top: 35px
    padding: 3px 0 40px 0
    overflow: auto
    height: 100%
    ul
      padding-bottom: 38px
    li
      padding: 2px 6px
      cursor: pointer
      font-size: 13px
      &:hover
        background: lightGrey
      .name
        float: left
        width: 150px
        line-height: 26px
        ellipsis()
  header
    position: absolute
    top: 0
    left: 0
    right: 0
    vertical-gradient(#fcfcfc, #dedede)
    border-bottom: 1px solid border-color
    padding: 5px
    .searchbox
      width: 100%
      padding: 1px 21px 1px 19px
      font-size: 13px
      radius 13px
    .search-icon
      position: absolute
      color: #888
      top: 4px
      left: 9px
      font-size: 28px
      font-family: "entypoRegular" !important
      font-weight: 300 !important
    .searchclear
      display: none
      position: absolute
      right: 11px
      top: 5px
      font-size: 26px
      color: #b6b6b6
      cursor: pointer
      &:hover
        color: #888
  .online-status
    width: 11px
    height: 11px
    float: right
    margin-top: 6px

.chat-windows
  position: absolute
  bottom: 6px
  right: 219px
  vertical-align: bottom

.chat-window
  margin-right: 5px
  background: rgba(0, 0, 0, .6)
  radius(3px)
  box-shadow 0 0 3px rgba(0,0,0,.3), 0 2px 4px rgba(0,0,0,.3)
  width: 240px
  float: right
  .chatview
    position: relative
    height: 350px
    > header
      padding: 3px 6px 2px
      vertical-gradient(#fcfcfc, #dedede)
      radius(3px 3px 0 0)
      border-bottom: 1px solid border-color
      cursor: pointer
    .unreadMsg
      display: none
      margin-left: 3pk
    footer
      position: absolute
      bottom: 0
      left: 0
      right: 0
      padding: 5px
      border-top: 1px solid border-color
      vertical-gradient(#fcfcfc, #dedede)
      radius(0 0 3px 3px)
    .helpmsg
      width: 100%
      background: background-color
      padding: 5px
      font-size: 11px
      color: faded-text
      line-height: 14px
      display: none
    .messages
      overflow: auto
      height: 287px
    .msg
      background: white
      padding: 3px
      margin: 3px
      radius(3px)
      .avatar
        float: left
      .time
        float: right
        line-height: 13px
        font-size: 11px
        color: faded-text
      .from
        margin: 0 0 2px 0
        line-height: 14px
        font-weight: bold
        font-size: 12px
        width: 154px
        ellipsis()
      li
        margin: 0 0 2px 30px
        line-height: 14px
        &:last-child
          margin-bottom: 0
    .prompt
      width: 100%

.chat-window.folded
  .messages, footer, .helpmsg
    display: none !important
  header
    radius(3px)
